* {
    margin: 0;
    font-family: "Poppins";
  }
  
  body{
    font-size: 16px;
    line-height: 1.8;
    color: #222;
    font-weight: 400;
  }
  
  /* .container {
    background: linear-gradient(
      to right, 
      #fff 0%, 
      #fff 60%, 
      #03045e 40%, 
      #03045e 90%
    );
  } */
  
  label{
    position: absolute;
    left:0px;
    top:50%;
  }
  
  .register-form{
    width: 100%;
  }
  
  .form-group{
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
  }
  
  .form-group:last-child{
    margin-bottom:0px;
  }
  
  .signup-image{
    display: flex;
  }
  
  .display-flex{
    justify-content: space-between;
  }
  
  form{
    width: 50%;
  }
  
  input{
    width: 50%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 4px 10px;
    box-sizing: border-box;
    font-size: 16px;
  }
  img{
    max-width: 100;
    height: auto;
    filter: drop-shadow(5px 0px 3px rgba(0,0,0,0.5));
  }
  
  h2{
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-size: 36px;
  }
  
  h4{
    font-size: 20px;
    color:#03045e;
    padding: 8px;
    margin: 5px;
    display: flex;
  }
  
  h5{
    font-size: 16px;
    color:#0078a9;
    padding: 8px;
    margin: 5px;
    display: flex;
  }
  
  /* .container{
    width: 1000px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  } */
  
  .form-title{
    padding: 15px;
    margin: 2px;
  }
  
  .form-group{
    padding: 15px;
    margin: 5px;
    margin-right: 0;
  }
  
  .form-button{
    padding:10px;
    border-bottom: 0px !important;
    margin: 5px;
    font-size: 14px;
  }
  
  #sign-up-submit{
    font-size: 18px;
    color: #fff;
    background: #03045e;
    padding: 8px;
    border-radius: 6px;
    width: 25%;
    align-items: center;
    justify-content: center;
  }
  
  
