body {
  margin: 0;
}

/* Required CSS starts from here - by Shivaansh for Login module */

*{
  margin: 0;
  box-sizing: border-box;
}

.main-back
{
  height: 100vh;
  background-color: #03045e;
}

.block
{
  height: 100vh;
  width: 50%;
  background-color: white;
}

.main-list
{
  margin-left: 50px;
  list-style: none;
  position: absolute;
  top: 10%;
}

.main-list li{
  margin-top: 20px;
}

#first
{
  font-size: 25px;
  margin-bottom: 30px;
}

#third
{
  margin-bottom: 30px;
}

#fourth
{
  margin-left: 155px;
  margin-bottom: 30px;
}

#fifth
{
  font-size: 15px;
  margin-left: 180px;
  margin-bottom: -10px;
}

#sixth
{
  margin-left: 100px;
  margin-bottom: 60px;
}

#seventh
{
  margin-left: 64px;
}

.main-title
{
  position: absolute;
  top: 35%;
  right: 13%;
}

.title
{
  color: white;
  font-size: 70px;
}

.tag-line
{
  color: white;
  font-size: 20px;
  font-style: italic;
  margin-left: 11px;
}

#link
{
  color: #03045e;
}

/* CSS for Shivaansh's module ends here */